################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend-csharp/.vs
/backend-csharp/bin/
/backend-csharp/obj/
/frontend-angular/.vscode
